@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: "font-400";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-500";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-700";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "font-400";
}

/* CUSTOME FONT CLASS */
.font-400 {
  font-family: "font-400";
}

.font-500 {
  font-family: "font-500";
}

.font-700 {
  font-family: "font-700";
}
/* CUSTOME FONT CLASS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-700";
}

p {
  font-family: "font-400";
  color: #d1d2d4;
}

/* progress wrapper */
.progress-wrapper .wrapper {
  border-radius: 50px;
  overflow: hidden;
  height: 8px;
}

.progress-wrapper .container {
  background-color: #ffffff38;
}

.progress-wrapper .barCompleted {
  background-color: #06face;
  width: 30%;
}

.progress-wrapper .label {
  font-size: 20px;
  color: green;
  visibility: hidden;
}
/* progress wrapper */

/* NAV FIXED STYLING */
@media (max-width: 768px) {
  nav {
    background-color: #1b2027;
  }
}

@media (max-width: 767px) {
  .mobilemenu {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1b2027;
    left: 0;
    top: 0;
    margin: 0 !important;
    transform: translateX(-100rem);
    transition: 0.3s ease-in-out;
  }
  .mobilemenu .inner-mobileActiveMenu {
    flex-direction: column;
    align-items: start;
    padding: 1.875rem;
  }

  .mobilemenu .inner-mobileActiveMenu a {
    padding: 20px;
    margin: 0 !important;
    width: 100%;
    border-bottom: 1px solid #6b6b6b;
  }

  .mobilemenu .inner-mobileActiveMenu a:last-child {
    margin-top: 2rem !important;
    padding: 0.625rem;
  }
}

.mobileActiveMenu {
  position: fixed;
  display: block;
  transform: translateX(0rem);
  height: 100%;
  width: 100%;
  background: #1b2027;
  left: 0;
  top: 0;
  margin: 0 !important;
  transition: 0.3s ease-in-out;
}

.back-ground-type-one {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}

nav.fixed-top {
  background: #1b2027;
  padding: 0;
  position: fixed;
}

nav.fixed-top {
  background: #1b2027;
  padding: 0;
  position: fixed;
}

nav.fixed-top .bg-navbar-1 {
  background-color: unset;
  border: none;
}

nav .bg-navbar-1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* NAV FIXED STYLING */

/* HERO SECTION */
.heroSection {
  padding: 0 0 5rem 0;
}

.heroSection h1 {
  font-family: "font-400";
}

.heroSection h1 span {
  font-family: "font-700";
}
/* HERO SECTION */

/* CUTOME TEXT TYPE ONE */
.customize-text-one {
  color: #fff;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: "font-700";
  font-size: 52px;
  font-weight: 700;
  opacity: 0.1;
  display: block;
}
/* CUTOME TEXT TYPE ONE */

/* CUTOME BORDER */
.border-custome {
  opacity: 0.1;
  border-bottom: 1px solid#fff;
}

.border-right-custom {
  border-right: 1px solid #3b4149;
}

.border-right-custom:last-child {
  border-right: unset;
}

.border-custome-2 {
  border-bottom: 1px solid#31363c;
}
/* CUTOME BORDER */

/* unlocking-section */
.unlocking-section .inner-card-wrapper {
  padding: 1.25rem 1.5rem;
  border: 1px solid #ffffff39;
}

.unlocking-section .inner-card-wrapper:hover {
  box-shadow: rgba(56, 240, 157, 0.2) 0px 7px 29px 0px;
}
/* unlocking-section */

/* welcome-banner-gif */
@media (max-width: 768px) {
  .welcome-banner-gif {
    width: auto !important;
    height: 15rem !important;
    margin-left: auto;
  }
}
@media (max-width: 1345px) {
  .welcome-banner-gif {
    margin-left: auto;
    width: 30rem !important;
    height: 100%;
  }
}
/* .welcome-banner-gif {
  width: 42rem;
  height: auto;
  object-fit: contain;
  top: 25%;
} */
.welcome-banner-gif {
  width: 42rem;
  height: 100%;
  object-fit: contain;
  top: 0;
}
/* welcome-banner-gif */

@media (min-width: 1920px) {
  .max-w-7xl {
    max-width: 80% !important;
  }
}
